.manageProductCard{
    background-color: rgba(0, 0, 0, 0.34);
    border-color: white;
    border: 3px solid white;
    width: 200px;
    height: 200px;
    display: flex;
    box-shadow: 0 4px 2px -2px lightblue;
    margin-left: 20px;
    flex-direction: column;
    border-radius: 10px;
}

.manageProdImage{
    height: 80px;
    width: 80px;
    display: flex;
    align-self: center;
    margin-top: 15px;
}

.manageProductCard text{
    font-size: 17px;
    color:white;
    margin-top: auto;
}

.prodEditButton{
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color:blue;
    border-radius: 10px;
}


.prodDeleteButton{
    border: none;
    color: white;
    /* padding: 7px 20px; */
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color:red;
    border-radius: 10px;
}

.manageProdButton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}