.cardsection{
    display: flex;
    flex-direction: row;
    width:100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    margin-top: 60px;
}

.productViewText{
    color: white;
    margin-top: 50px;
    margin-bottom: 30px;
}
