.checkout{
    background-color: black;
    position: relative;
    height: 150%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(254, 252, 252, 0.212));
    background-size: 100%; /* Adjust the blur height as needed */
    background-position: top;
    background-attachment: fixed;
    overflow: hidden;
    padding-bottom: 20px;
}
.order-containr{
    display: flex;
    flex-direction: row;
}

.deliveryDetails{
    float: inline-start;
    display: flex;
    flex-direction: column;
    width:31%;
    margin-left: 10%;
    margin-top: 1%;
    background-color: black;
    border-radius: 20px;
    color:white;
    padding-bottom: 5px;
    border: 1px solid rgb(255, 255, 255);
}

.deliveryText{
    font-size: larger;
    padding-top: 15px;
}

.d-line{
    border: 1px solid rgb(255, 255, 255);
}

.inputs{
    flex-wrap: wrap;
    align-content: center;
    padding: 5px;
    margin-left: 5%;
    padding-bottom: 20px;
}

.deliveryInput{
}

.inline{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.city{
    width: 50%;
}

.postalcode{
    width:50%;
}

.orderDetails{
    display: flex;
    flex-direction: column;
    float: inline-end;
    width:31%;
    margin-right: 15%;
    margin-top: 1%;
    background-color: black;
    border-radius: 20px;
    color:white;
    padding-bottom: 5px;
    border: 1px solid rgb(255, 255, 255);
}

.Credit{
    color:white;
}