.checkout{
    background-color: black;
    position: relative;
    height: auto; /* Adjust the height as needed */
    overflow-y: scroll;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(254, 252, 252, 0.212));
    background-size: 100%; /* Adjust the blur height as needed */
    background-position: top;
    background-attachment: fixed;
    overflow: hidden;
    padding-bottom: 20px;
}
.order-containr{
    display: flex;
    flex-direction: row;
}

.deliveryDetails{
    float: inline-start;
    display: flex;
    flex-direction: column;
    width:35%;
    margin-left: 10%;
    margin-top: 1%;
    background-color: black;
    border-radius: 20px;
    color:white;
    padding-bottom: 5px;
    border: 1px solid rgb(255, 255, 255);
}

.deliveryText{
    font-size:xx-large;
    padding-top: 15px;
}

.d-line{
    width:100%;
    align-items: flex-start;
    border: 1px solid rgb(255, 255, 255);
}

.inputs{
    flex-wrap: wrap;
    align-content: center;
    padding: 5px;
    margin-left: 5%;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}



.inline{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.city{
    width: 50%;
}

.postalcode{
    width:50%;
}

.orderDetails{
    display: flex;
    flex-direction: column;
    float: inline-end;
    width:35%;
    margin-right: 10%;
    margin-top: 1%;
    background-color: black;
    border-radius: 20px;
    color:white;
    padding-bottom: 15px;
    border: 1px solid rgb(255, 255, 255);
}

.productDetails{
    border-radius: 15px;
    list-style-type: none;
    border: 2px solid rgba(95, 206, 85, 1);  
    list-style-type: none;
    display:inline-flex;
    justify-content: space-between;
    align-self: center;
    /* align-items: right; */
    width:80%;
    padding:10px;
    /* padding-inline: 10px; */
    margin-left: 5%;
}
.billDetails{
    display: flex;
    flex-direction: column;
    width:80%;
    padding-inline: 15px;
    height:auto;
    border: 2px solid rgba(95, 206, 85, 1);
    margin-top: 10px;
    align-self: center;
    border-radius: 15px;
    margin-bottom: 5px;
}
.items{
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 0;
}
.i-line{
    width:100%;
    align-self: center;
    border: 1px solid rgba(95, 206, 85, 1);
    padding: 0;
    margin: 0;
}

.totalBill{
    display: flex;
    flex-direction: row;
    height: 20px;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
    background-color: rgba(95, 206, 85, 1);
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 2%;
}
.totalBill p{
    align-self: center;
}


.label{
    margin-bottom: 15px;
    font-size:small;
}

