.addproductcontainer {
    background-color:rgb(11, 11, 11);
    width: 100%; /* Set the width to a percentage of the parent container */
    max-width: 1050px; 
    height:800px;
    border-radius: 10px;
    display: flex;
    /* margin-top: 50px; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    flex-direction: column;
    overflow: hidden;
}

.toptext{
    color: white;
    font-size: larger;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
}

.boxbar{
    background-color: white;
    height: 1px;
    width: 1050px;

}

.addproductform{
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
}

/* .formcontainer{
    display: flex;
    flex-basis: 50%;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    
} */

.rightform{
    display: flex;
    float: right;
    margin-left: 40px;
    flex-direction: column;
}
.leftform{
    display: flex;
    float: right;
    margin-left: 40px;
    flex-direction: column;
}

.secondbox{
    margin-top: 100px;
}

.bottombox{
    display: flex;
    align-items: center;
    align-self: center;
    /* margin-bottom: 60px; */
    padding-bottom: 40px;
}

.addprdctbtn{
    margin-top: 10px;
    margin-bottom: 20px;
}
.addImageButton {
    margin-top: 10px;
    margin-bottom: 20px;
}

.topform{
    display: flex;
    flex-basis: 50%;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: center ;
}

.bottomform{
    display: flex;
    align-items: center;
    align-self: center;
    /* margin-bottom: 60px; */
    padding-bottom: 40px;
    justify-content: center;
}


.dropdownaddproduct{
    outline: 0;
    border-width: 0 0 1px;  
    width:25rem;
    border-radius: 5px;
    height: 32px;
    float: left;
    background-color: rgba(248, 248, 248, 0.55);
    &:focus {
        background-color:rgba(74, 252, 58, 0.2) ;    
        color: rgb(255, 255, 255);    
    }
    margin-top: -19px;
    color: black;
    font-weight: bold;
}
.dropdownaddproduct option {
    color: rgb(8, 8, 8); /* Change this to your desired text color */
  }

.rightform h6{
    color: white;
    display: flex;
    font-size: 15px;
}
.selecttype select{
    outline: 0;
    border-width: 0 0 1px;  
    width:25rem;
    border-radius: 5px;
    height: 32px;
    float: left;
    background-color: rgba(248, 248, 248, 0.55);
    &:focus {
        background-color:rgba(74, 252, 58, 0.2) ;    
        color: rgb(14, 13, 13);    
    }
    margin-top: -19px;
    color: black;
    font-weight: bold;
}
.selecttype h6{
    color: rgb(251, 250, 250);
}